RecursiveExtractor/bin
RecursiveExtractor/obj
RecursiveExtractor.Blazor/bin
RecursiveExtractor.Blazor/obj
RecursiveExtractor.Cli/bin
RecursiveExtractor.Cli/obj
RecursiveExtractor.Tests/bin
RecursiveExtractor.Tests/obj
.vs
RecursiveExtractor.Cli/obj/Debug/netcoreapp3.1/RecursiveExtractor.Cli.csprojAssemblyReference.cache
