@page "/Browse"
@using System.Text;
@using System.Text.RegularExpressions;
@inject Microsoft.CST.RecursiveExtractor.Blazor.Services.AppData appData;
Regex to match File Paths against
<br />
<input @bind="CurrentString" />

Files matching filter:
<br />

@foreach (var file in appData.GuidToFileEntryMap.Where(x => filter.IsMatch(x.Value.FullPath)))
{
    <p>Found: <a href="/ViewFile/@file.Key">@file.Value.FullPath</a></p>
}

@code {
    protected static Regex DefaultRegex = new Regex(".*", RegexOptions.Compiled);
    protected Regex filter = DefaultRegex;
    private string _string = "";
    private string CurrentString
    {
        get
        {
            return _string;
        }
        set
        {
            _string = value;
            if (_string != string.Empty)
            {
                filter = new Regex(_string);
            }
            else
            {
                filter = DefaultRegex;
            }
        }
    }
}