@page "/Browse"
@using System.Text;
@using System.Text.RegularExpressions;

@inject Microsoft.CST.RecursiveExtractor.Blazor.Services.AppData appData;
@inject IJSRuntime JSRuntime

    <h2>Browse Archive</h2>

    <p>You can specify a regular expression to filter the files discovered in the archive.</p>
    <label>Regex to match File Paths against</label>
    <input @bind="CurrentString" />
    <br />
    <h3>Files Matching Filter</h3>
    <p>You can view each file below as formatted source code, or download the raw file.</p>
    @foreach (var file in appData.GuidToFileEntryMap.Where(x => filter.IsMatch(x.Value.FullPath)))
    {
        <p>Found: @file.Value.FullPath <a href="ViewFile/@file.Key">View</a> <button @onclick="@(e => DownloadFile(file.Key))">Download</button></p>
    }

    @code {
        protected static Regex DefaultRegex = new Regex(".*", RegexOptions.Compiled);
        protected Regex filter = DefaultRegex;
        private string _string = "";


        public async void DownloadFile(string Guid)
        {
            if (!string.IsNullOrEmpty(Guid))
            {
                var entry = appData.GuidToFileEntryMap[Guid];
                entry.Content.Position = 0;
                using var sr = new System.IO.StreamReader(entry.Content, Encoding.UTF8, true, 4096, true);
                await JSRuntime.InvokeAsync<object>(
                    "FileSaveAs",
                    entry.Name,
                    $"data: {MimeMapper.MapFilePath(entry.Name)},",
                    await sr.ReadToEndAsync()
                );
            }
        }

        private string CurrentString
        {
            get
            {
                return _string;
            }
            set
            {
                _string = value;
                if (_string != string.Empty)
                {
                    filter = new Regex(_string);
                }
                else
                {
                    filter = DefaultRegex;
                }
            }
        }
    }