@page "/"
<h2>Scan</h2>
<p>Choose the archive that you wish to extract. Due to platform restrictions on our dependencies a limited set of formats is available in this GUI.</p>
<h3>Supported Formats</h3>
<p>Zip, Iso, Tar, Bz, Xz, Vhdx, Ar, Deb</p>
<h4>Additional formats supported in <a href="https://github.com/microsoft/recursiveextractor/#library">library</a> and <a href="https://github.com/microsoft/recursiveextractor/#cli">command line interface</a>.</h4>
<p>Rar, 7z, Gz, Vhd, Wim</p>
<DragnDropInputCommon />