@page "/"
<h2>Scan</h2>
<p>Choose the archive that you wish to extract.  Due to platform restrictions on our dependencies a limited set of formats is available in this GUI.</p>
<h2>GUI Supported Formats</h2>
<p>Zip, Iso, Tar, Bz, Xz, Vhdx, Ar, Deb</p>
<h2>Additional formats supported in library</h2>
<p>Rar, 7z, Gz, Vhd, Wim</p>
<DragnDropInputCommon />