@using System.IO;
@using Tewr.Blazor.FileReader;
@inject Tewr.Blazor.FileReader.IFileReaderService fileReaderService;
@inject Microsoft.CST.RecursiveExtractor.Blazor.Services.AppData appData;

<style>
    .@dropTargetClass {
        display: block;
        padding: 20px;
        margin-bottom: 10px;
        border: 1px dashed black;
        border-radius: 5px;
        position: relative;
    }

    .@dropTargetDragClass {
        border-color: orangered;
        font-weight: bold;
    }

    input.clickable {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin-top: -20px;
        margin-left: -20px;
        cursor: pointer;
    }
</style>

<div class="@IpDropClass">
    <input type="file"
           class="clickable"
           @ref=dropTargetInput
           @onchange="OnInputChange"
           @ondragenter=OnIpDragEnter
           @ondragleave=OnIpDragLeave
           multiple />
    Drop Files here or click me.

    @if (NumFilesExtracted > 0)
    {
        <span>Extracted @NumFilesExtracted files.</span>
    }
</div>

<br />
<button @onclick="ReadClick" class="btn btn-primary">Read file</button>
<button @onclick="ClearClick" class="btn btn-primary">Clear</button>

<br />
<br />
<textarea style="max-width: 100%;" cols="50" rows="20">@Output</textarea>

@code {
    private int NumFilesExtracted = 0;
    ElementReference dropTargetInput;
    IFileReaderRef ipReference;
    private List<string> _ipdropClasses = new List<string>() { dropTargetClass };
    string IpDropClass => string.Join(" ", _ipdropClasses);
    List<FileWithStream> IpFileList { get; } = new List<FileWithStream>();

    string Output { get; set; } = string.Empty;
    private static readonly string nl = Environment.NewLine;

    const string dropTargetDragClass = "droptarget-drag";
    const string dropTargetClass = "droptarget";

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            ipReference = fileReaderService.CreateReference(dropTargetInput);
        }
    }

    public async Task ClearClick()
    {
        await this.ClearAsync();
        await this.RefreshFileList();
    }

    private async Task ClearAsync()
    {
        appData.GuidToFileEntryMap.Clear();
        Output = string.Empty;
        IpFileList.Clear();
    }
    private class FileWithStream { public IFileInfo FileInfo { get; set; } public AsyncDisposableStream Stream { get; set; } }

    public void OnIpDragEnter(EventArgs e) => _ipdropClasses.Add(dropTargetDragClass);

    public void OnIpDragLeave(EventArgs e) => _ipdropClasses.Remove(dropTargetDragClass);

    public async Task OnInputChange(EventArgs e)
    {
        Output += $"Dropped a file on the Clickable.{nl}";
        _ipdropClasses.Remove(dropTargetDragClass);
        this.StateHasChanged();
        await this.RefreshFileList();
    }

    private async Task RefreshFileList()
    {
        await this.ClearAsync();
        foreach (var file in await ipReference.EnumerateFilesAsync())
        {
            var fileInfo = await file.ReadFileInfoAsync();
            IpFileList.Add(new FileWithStream { FileInfo = fileInfo, Stream = await file.OpenReadAsync() });
        }
        this.StateHasChanged();
    }
    public async Task ReadClick() => await ReadFile(ipReference);

    public async Task ReadFile(IFileReaderRef list)
    {
        appData.GuidToFileEntryMap.Clear();
        Output = string.Empty;
        this.StateHasChanged();
        var extractor = new Extractor();
        var options = new ExtractorOptions() { EnableTiming = false, ExtractSelfOnFail = false };
        foreach (var pair in IpFileList)
        {
            var fileInfo = pair.FileInfo;

            Output += $"{nameof(IFileInfo)}.{nameof(fileInfo.Name)}: {fileInfo.Name}{nl}";
            Output += $"{nameof(IFileInfo)}.{nameof(fileInfo.Size)}: {fileInfo.Size}{nl}";
            Output += $"{nameof(IFileInfo)}.{nameof(fileInfo.Type)}: {fileInfo.Type}{nl}";
            Output += $"{nameof(IFileInfo)}.{nameof(fileInfo.LastModifiedDate)}: {fileInfo.LastModifiedDate?.ToString() ?? "(N/A)"}{nl}";
            Output += $"Reading file...";
            this.StateHasChanged();
            fileInfo.PositionInfo.PositionChanged += (s, e) =>
            {
                Output += $"Read {e.PositionDeltaSinceAcknowledge}, {e.Position} / {fileInfo.Size} ({e.Percentage:0.00}%){nl}";
                this.StateHasChanged();
            };
            var entryStream = new FileStream(Path.GetTempFileName(), FileMode.Create, FileAccess.ReadWrite, FileShare.ReadWrite, 4096, FileOptions.DeleteOnClose);
            await pair.Stream.CopyToAsync(entryStream);
            var entry = new FileEntry(pair.FileInfo.Name, entryStream);
            var type = MiniMagic.DetectFileType(entry);
            switch (type)
            {
                case ArchiveFileType.RAR:
                case ArchiveFileType.P7ZIP:
                case ArchiveFileType.GZIP:
                case ArchiveFileType.VHD:
                    Output += $"{type} is not supported in the GUI, but is supported in the full RecursiveExtractor library.";
                    break;
                default:
                    var entries = extractor.ExtractFile(entry, options);
                    foreach (var foundEntry in entries)
                    {
                        appData.GuidToFileEntryMap[Guid.NewGuid().ToString()] = foundEntry;
                        NumFilesExtracted++;
                        this.StateHasChanged();
                    }
                    break;
            }
        }
    }
}