@inherits LayoutComponentBase
@using NLog; 
<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">

        <div class="content px-4">
            @Body
        </div>

    </div>

</div>

@code{
    NLog.Config.LoggingConfiguration config = new NLog.Config.LoggingConfiguration();
    NLog.Targets.ConsoleTarget logconsole = new NLog.Targets.ConsoleTarget("logconsole");

    protected override void OnInitialized()
    {
        config.AddRule(LogLevel.Debug, LogLevel.Fatal, logconsole);
        NLog.LogManager.Configuration = config;
    }
}